body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #0f0;
    background-image: 
        radial-gradient(#0f03 1px, transparent 1px),
        radial-gradient(#0f03 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}
.container {
    background-color: rgba(0, 20, 0, 0.8);
    padding: 20px;
    border: 2px solid #0f0;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}
h2 {
    text-align: center;
    color: #0f0;
    margin-bottom: 20px;
    font-size: 24px;
}
#textInput {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #0f0;
    border-radius: 5px;
    background-color: rgba(0, 10, 0, 0.8);
    box-sizing: border-box;
    color: #0f0;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    resize: vertical;
}
.counts {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
#wordCount, #sentenceCount {
    font-weight: bold;
}